.input {
  flex-grow: 1;
  padding: 13px 20px;
  border-radius: var(--baseUnit);
  font-size: var(--fontSize);
  border: 2px solid transparent;
  box-shadow: var(--boxShadow);
  outline: 3px solid transparent;
  transition: outline 0.1s ease;
  flex-basis: 50%;
  width: 50%;
}

.input:focus {
  outline: 3px solid var(--hoverColor);
  outline-offset: 2px;
}

@media (max-width: 600px) {
  .input {
    font-size: var(--fontMobileSize);
  }
}
