.label {
  font-size: var(--fontSize);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.label.checked {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 600px) {
  .label {
    font-size: var(--fontMobileSize);
  }
}
