.App {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: var(--mainBackgroundColor);
}

.todoView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: var(--gap);
}

.todoHeader,
.todoBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.inputItemBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}

.todoItemBody {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--todoItemBackground);
  padding: var(--baseUnit);
  border-radius: var(--baseUnit);
  box-shadow: var(--boxShadow);
}

.todoItemCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: var(--gap);
}
