.App {
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-top: 5rem;
  align-items: center;
  height: 100vh;
  background-color: #443f60;
  text-align: center;
  gap: 1.5rem;
}

.inputBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
}

.input {
  width: 75%;
  font-size: 1.5rem;
  border-radius: 12px;
  border: none;
  padding-left: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.todoBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #a194ba;
  width: 100%;
  max-width: 570px;
  padding: 5px 15px;
  gap: 1rem;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.todoCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  gap: 1rem;
}

.checkbox {
  border-radius: 12px;
  width: 25px;
  height: 25px;
}

.todo {
  font-size: 1.5rem;
}
.button,
.todoButton {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.9);
  background-color: #eeba65;
  padding: 15px 20px;
  border-radius: 12px;
  border: none;
}

.button {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.todoButton {
  padding: 16px 20px;
}
