body {
  background-color: #443f60;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --mainBackgroundColor: #443f60;
  --todoItemBackground: #a194ba;
  --buttonBackground: #eeba65;
  --hoverColor: #f4d198;
  --fontSize: 1.5rem;
  --baseUnit: 15px;
  --boxShadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  --gap: 1.5rem;
}
